# Git dependencies
dllogger@git+https://github.com/NVIDIA/dllogger.git

# Scientific stack
e3nn==0.5.0
fair-esm[esmfold]==2.0.0
networkx==2.8.4
pandas>=2.0.0
pybind11==2.11.1
rdkit
scikit-learn
scipy

# Geometric Logic (Only the high-level API, not the compiled kernels)
torch-geometric==2.2.0
torchmetrics==0.11.0

